@use "global" as *;

.footer-layout {
  margin-top: rem(105);

    @include mq("md") {
      margin-top: rem(161);
    }
}

.footer-layout--thanks-special {
  margin-top: rem(100);
  @include mq("md") {
    margin-top: rem(75);
  }
}

.footer-layout.page-footer-layout--mt0 {
  margin-top: 0;
}