@use "global" as *;

.blog-cards {
  display: flex;
  flex-direction: column;
  gap: rem(40);

  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(40);
  }
}

.blog-cards--2col {
  display: grid;
  gap: rem(40);
  grid-template-columns: repeat(1, 1fr);
  counter-reset: number;
  padding-bottom: rem(5);

  @include mq(md) {
    row-gap: rem(80);
    column-gap: rem(40);
    grid-template-columns: repeat(2, 1fr);
  }
}