@use "global" as *;

.form-input input {
  padding: rem(8) rem(16);
  width: 100%;
  font-weight: $regular;
  font-family: $jp-family;
  font-size: rem(16);
  line-height: 1;
  border-radius: 0;
  border: 1px solid #ccc;
  appearance: none;
  background-color: transparent;
  background-image: none;
}

.form-input.form-error input {
  border: 1px solid $red;
  background: rgba(201, 72, 0, 0.20);
}

.form-input input:focus {
  border: 1px solid #ccc;
  box-shadow: none;
  outline: none;
}

.form-input ::placeholder {
  color: $green2;
}

.form-input.form-error ::placeholder {
  color: $white;
}

// /* エラー時のプレースホルダーの色を変更 */
// .wpcf7-form-control:not(.wpcf7-submit)::placeholder {
//   color: red;
//   /* ここで希望の色を指定 */
// }

/* エラー時の入力フィールドのスタイル */
span.wpcf7-form-control-wrap .wpcf7-not-valid {
  border: 1px solid red;
  background-color: rgba(201, 72, 0, 0.20);
}

span.wpcf7-form-control-wrap .wpcf7-not-valid.form__privacy-text.form-checkbox {
  border: none;
}

/* エラーメッセージのスタイル */
// .wpcf7-response-output.wpcf7-validation-errors,
// .wpcf7-not-valid-tip {
//   color: red;
//   font-size: 0.9em;
// }

/* 非表示にするスタイルが適用されている場合は、以下のスタイルを削除またはコメントアウト */
.wpcf7-not-valid-tip {
  display: none;
  /* この行を削除またはコメントアウト */
}

.wpcf7 form .wpcf7-response-output {
    padding-bottom: rem(25);
    padding-right: rem(54);
    padding-left: rem(54);
    margin-top: 0;
    font-size: rem(14);
    font-family: $jp-family;
    font-weight: $regular;
    line-height: 1.5;
    color: $red;
    border: none;
    text-align: left;
    width: 100%;
    display: inline-block;
    // text-indent: rem(-7);
    @include mq("md") {
     text-align: center;
    }
}

    /* form__privacyの線を消す */
span.wpcf7-form-control-wrap .wpcf7-not-valid {
  border: none;
}

/*デフォルトのスタイルを無効化する*/
// input[type="submit"] {
//   appearance: none;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   color: $white;
// }

/*デフォルトのスタイルを無効化し、初期背景色を白に設定*/
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--white);
  /* CSS変数を使用 */
  color: var(--green3);
  /* テキスト色を初期状態で緑に */
  border: 1px solid var(--green3);
  /* 枠線を緑に */
  transition: background-color .2s, color .2s;
  /* 背景色とテキスト色のトランジションを追加 */
}

/* ホバー時のスタイル */
input[type="submit"]:hover {
  background-color: var(--green3);
  /* 背景色を緑に */
  color: var(--white);
  /* テキスト色を白に */
}

span.wpcf7-spinner {
  display: none;
}

.submit-btn-wrapper {
  text-align: center;
}