@use "global" as *;

.page-tab {
  margin: 0 auto;
}

.page-tab_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
    gap: rem(16) rem(21);
  // width: rem(375);
  max-width: 100%;
  // margin-top: rem(53);
  padding: 0;
  list-style-type: none;

  @include mq("md") {
    display: flex;
    gap: rem(32);
  }
}

.page-tab_list a {
  margin-left: 2px;
  font-size: rem(14);
  border: $green3 1px solid;
  position: relative;
  padding: rem(8) rem(6);
  cursor: pointer;
  text-align: center;
  line-height: 1;
}

.page-tab_item a {
  display: inline-block;
  width: 100%;
}

.page-tab_list a:first-child {
  margin-left: 0;
}

.page-tab_list a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 16px solid #c3d4dc;
  display: none;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}

.page-tab_item {
  width: rem(162);
  max-width: 100%;
  background: $white;
    color: $green3;
  transition: 0.3s;

  @include mq("md") {
    width: rem(162);
  }
}

.page-tab_item.is-active {
  background: $green3;
  color: $white;
  font-weight: $normal;
  transition: 0.3s;
}

.page-tab_item:hover {
  background: $green3;
  color: $white;
  font-weight: $normal;
  transition: 0.3s;
}
