@use "global" as *;

.page-voice {
  position: relative;
}

.page-voice__icon-image1 {
  position: absolute;
  display: block;
  z-index: -10;
  left: calc(50% - min(48.5vw, rem(640)));
  top: rem(-25);
  height: rem(55);
  width: rem(120);

  @include mq("md") {
    top: rem(-68);
    height: rem(138);
    width: rem(300);
  }
}

.page-voice__inner {
  max-width: rem(600);
  width: 100%;
  padding-left: rem(15);
  padding-right: rem(15);

  @include mq("md") {
    // position: relative;
  }
}

.page-voice__contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: rem(40);
  margin-top: rem(40);

  @include mq("md") {
    display: grid;
    gap: rem(80) rem(40);
    grid-template-columns: repeat(2, 1fr);
    align-items: normal;
  }
}

.page-voice__content {
  width: rem(280);
  max-width: 100%;

  @include mq("md") {
    width: 100%;
  }
}
