@use "global" as *;

.page-campaign {
  position: relative;
}

.page-campaign__icon-image1 {
  position: absolute;
  content: "";
  z-index: -10;
  left: calc(50% - min(48.5vw, rem(620)));
  top: rem(-25);
  width: rem(120);
  height: rem(55);

  @include mq("md") {
    top: rem(-68);
    width: rem(300);
    height: rem(138);
  }
}

.page-campaign__contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: rem(40);
  margin-top: rem(35);

  @include mq("md") {
    display: grid;
    gap: rem(76) rem(40);
    grid-template-columns: repeat(2, 1fr);
    align-items: normal;
  }
}

.page-campaign__content {
  // width: rem(280);
  max-width: 100%;

  @include mq("md") {
    width: 100%;
  }
}